[Unit]
Description=AWX Automation Platform
Documentation=https://github.com/ansible/awx
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/var/lib/awx
ExecStartPre=-/usr/local/bin/docker-compose down
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
