# Grafana Dashboard Provisioning - Managed by Ansible
apiVersion: 1

providers:
  - name: 'liberty-platform'
    orgId: 1
    folder: 'Liberty Platform'
    folderUid: ''
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /etc/grafana/provisioning/dashboards
