[Unit]
Description=Monitoring Stack (Prometheus, Grafana, Alertmanager)
Documentation=https://prometheus.io/docs/
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/etc/prometheus
ExecStartPre=-/usr/local/bin/docker-compose down
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
